h1 {
    text-align: center;
}

#topicSearchBar {
    width: 100%;
    text-align: center;
}

li {
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-weight: bold;
}

#topicList {
    text-align: center;
}

.card {
    display: inline-block;
    box-shadow: 5px 5px #24305E;
    transition: 0.3s;
    margin-top: 50px;
    width: 10%;
    height: 100px;
    margin-right: 10px;
    padding: 2px 16px;
    background-color: #374785;
    color: #F76C6C;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#addTopicButton {
    margin-top: 50px;
}

form {
    text-align: center;
}

form input {
    margin-bottom: 20px;
}

#topicNameInput {
    width: 375px;
}

#topicDescArea {
    margin-top: 10px;
    width: 500px;
    height: 150px;
    margin-bottom: 10px;
}

#addButton {
    text-align: center;
}