<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/topics.css">
        <title>Browse Topics</title>
    </head>

    <body>

        <div id="navbar">
            <ul>
                <li><a href="#">Logout</a></li>
                <li><a href="explore.html">Explore</a></li>
                <li><a href="topics.html">Topics</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </div>

        <h1>Add Topic</h1>

        <form action="">
            <label for="topicNameLabel">Enter Topic Name:</label>
            <input type="text" id = "topicNameInput"><br>
            <label id="topicDescLabel" for="topicDescLabel">Enter Topic Description:</label><br>
            <textarea id="topicDescArea"></textarea>
            <div id="addButton">
                <button id="addButton"><a href="topics.html">Add</a></button>
            </div>
        </form>
    </body>

</html>