<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/topics.css">
    <title>Argument Creation</title>
</head>

<body>

    {% include 'navbar.html' %}

    <h1>Add opinion</h1>

    <p>Please enter your opinion or stance to create an argument:</p>
    <form action="createOpinion" method="POST" name="newOpinion">
        <label for="argumentTitleLabel">Enter argument title:</label>
        <input type="text" id="argumentTitleInput" name="argumentTitle", placeholder="Arugment title..."><br>
        <label for="opinionLabel">Enter opinion or stance:</label>
        <input type="text" id="opinionInput" name="opinion", placeholder="I believe so and so should be this and that."><br>
        <div id="opinionSubmitButton">
            <a class="w10 button" href="javascript:void(0)" 
            onclick="document.newArgument.submit()">Create Argument</a>
        </div>
    </form>

</body>

</html>