<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/topics.css">
        <title>Browse Topics</title>
    </head>

    <body>

	{% include 'navbar.html' %}

        <h1>Add Topic</h1>

        <form action="createTopic" method="POST" name="newtopic">
            <label for="topicNameLabel">Enter Topic Name:</label>
            <input type="text" id="topicNameInput" name="name"><br>
            <label id="topicDescLabel" for="topicDescLabel">Enter Topic Description:</label><br>
            <textarea id="topicDescArea" name="description"></textarea>
            <div id="addButton">
				<a class="button" href="javascript:void(0)" 
				onclick="document.newtopic.submit()">Add</a>
           </div>
        </form>
    </body>

</html>