<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/static/debate.css">
	<script src="/static/message.js"></script>
	<script type="text/javascript">
		window.onload = function() {
			loadNewMessages( 0, function(){} );
			var polling = false;
			setInterval( function() {
				if( polling ) return; // Wait until last request is finished
				polling = true;
				var messages = document.getElementById("messages").querySelectorAll("#messages > div");
				var latestID = messages.length ? messages[messages.length-1].id : 0;
				loadNewMessages( latestID, function() { polling = false; } );
			}, 1000);
		}
	</script>
	<title>Unnamed Argument Website</title>
</head>

<body>

{% include 'navbar.html' %}

<div id="recentDialog">
	<h3>Other Arguments about</h3>
	<h3>{{ arg.TopicName }}</h3>
	{% for entry in related %}
	<div class="recentPost">
		<a href="{{ entry.href }}"><h3>{{ entry.title }}</h3></a>
		<p>TODO: What goes here? Debate preview maybe?</p>
	</div>
	{% endfor %}
</div>

<div id="optionsDialog">
	<h3>Topic</h3>
	<h1 class="topic">{{ arg.TopicName }}</h1>
	<a href="#archive" class="button">End Argument</a>
	<a href="#report" class="button">Report User</a>
</div>

<div id="mainContent">
	<h2>{{ arg.ArgumentTitle }}</h2>
	<div class="description"><p>{{ arg.TopicDescription }}</p></div>
	<div id="chatWindow">
		<div class="messages" id="messages">
		</div>
		<div>
			<textarea id="message" name="message" class="w80" placeholder="say something..."></textarea>
			<input type="submit" id="sendmessage" class="w30" value="send" onclick="sendMessage()" />
		</div>
	</div>

</div>

</body>
</html>
