<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/static/main.css">
	<title>Unnamed Argument Website</title>
</head>

<body>

{% include 'navbar.html' %}

<div id="recentDialog">
{% if opinions %}
{% for opinion in opinions %}
	<div class="recentPost">
			<a href="{{ url_for('getPost', post_id=opinion.ArgumentID)}}"><h3>{{ opinion.ArgumentTitle }}</h3></a>
			<p>{{ opinion.ArgumentContent }}</p>
	</div>
{% endfor %}
{% else %}
	<h4 class="noposts">There are no opinion posts right now! Check back later.</h4>
{% endif %}
</div>

<div id="optionsDialog">
	<a href="/topics" class="button">Start an Argument</a>
	<a href="#random" class="button">Random</a>
	
	<div id="chatWindow">
		<div class="messages">
			<div class="messagehack"><div class="chatMessage sentchat"><p>Hey, how are you?</p></div></div>
			<div class="messagehack"><div class="chatMessage recvchat"><p>Good, you?</p></div></div>
			<div class="messagehack"><div class="chatMessage recvchat"><p>I've been working a lot lately, so I haven't been on the site much</p></div></div>
			<div class="messagehack"><div class="chatMessage sentchat"><p>Yeah me too, do you remember that argument about penguins from before?</p></div></div>
			<div class="messagehack"><div class="chatMessage recvchat"><p>What about it?</p></div></div>
			<div class="messagehack"><div class="chatMessage sentchat"><p>It's gaining some traction, a lot of people are suddenly voting on it</p></div></div>
			<div class="messagehack"><div class="chatMessage recvchat"><p>I guess penguins are the next big thing!</p></div></div>
		</div>
		<form action="#sendmessage" method="post">
			<textarea name="message" class="w80" placeholder="say something..."></textarea>
			<input type="submit" id="sendmessage" class="w30" value="send" />
		</form>
	</div>
</div>

<div id="mainContent">

{% for post in arguments %}

<div class="post">
	<a href="/post/{{ post.ArgumentID }}"><h3>{{ post.ArgumentTitle }}</h3></a>
	<p>{{ post.ArgumentContent }}</p>
	<div class="postInteractBar">
	<p>{{ post.NumVotes }} votes <a href="#comments">12 comments</a></p>
	</div>
</div>

{% endfor %}

</div>


</body>

</html>
