<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/static/main.css">
	<title>Unnamed Argument Website</title>
</head>

<body>

{% include 'navbar.html' %}

<div id="loginregister">

	<div class="login">
	<h3>Log In</h3>
	<form action="login" method="post">
	<input type="text" name="username" placeholder="Username" />
	<input type="password" name="password" placeholder="Password" />
	<input type="submit" value="Log In" />
	</form>

	</div>

	<div class="register">
	<h3>Register</h3>

	<form action="register" method="post">
	<input type="text" name="username" placeholder="Username" />
	<input type="password" name="pass" placeholder="Password" />
	<input type="password" name="passrep" placeholder="Repeat Password" />
	<input type="submit" value="Register" />
	</form>

	</div>

</div>

</body>
</html>
