<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/static/main.css">
	<title>Unnamed Argument Website</title>
</head>

<body>

<div id="navbar">
<ul>
	<li><a href="#">Logout</a></li>
	<li><a href="debate.html">Debate</a></li>
	<li><a href="topics.html">Topics</a></li>
	<li><a href="index.html">Home</a></li>
</ul>
</div>

<div id="loginregister">

	<div class="login">
	<h3>Log In</h3>
	<form action="#" method="post">
	<input type="text" name="username" placeholder="Username" />
	<input type="password" name="password" placeholder="Password" />
	<input type="submit" value="Log In" />
	</form>

	</div>

	<div class="register">
	<h3>Register</h3>

	<form action="#" method="post">
	<input type="text" name="username" placeholder="Username" />
	<input type="password" name="pass" placeholder="Password" />
	<input type="password" name="passrep" placeholder="Repeat Password" />
	<input type="submit" value="Register" />
	</form>

	</div>

</div>

</body>
</html>
