<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/topics.css">
    <title>Opinion Selection</title>
</head>

<body>

{% include 'navbar.html' %}

    <h1>Create your opinion</h1>

    <div id="opinionCreation">
        <p>Please enter your opinion or stance on the topic to create an argument:</p>
		<form action="createOpinion" method="POST" name="newOpinion">
            <textarea id="opinionDescArea" name="opinion" placeholder="I believe that so and so should be this and that."></textarea>
            <div id="opinionSubmitButton">
                <a class="w10 button" href="javascript:void(0)" 
                onclick="document.newOpinion.submit()">Create Opinion</a>
            </div>
		</form>
	</div>
</body>

</html>