<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/topics.css">
    <title>Browse Topics</title>
</head>

<body>

{% include 'navbar.html' %}

    <h1>Browse Topics</h1>

    <div id="topicSearch">
		<form name="topicSearchForm" action="topics" method="GET">
		<input class="w40" type="text" name="search" placeholder="Search..">
		<button class="w10" type="submit">Go</button>
		</form>
	</div>

	<a class="w10 button" href="createTopic">Add Topic</a>
    
    <div id="topicList">
        <ul>
			{% for topic in topics %}
            <div class="card">
                <li>{{ topic.TopicName }}</li>
            </div>
			{% endfor %}
        </ul>
    </div>

</body>

</html>